.todos-grid {
	margin-top: 2rem;
}

.todo-priority {
	font-size: 1rem;
	border-radius: 1rem;
	text-align: center;
	font-weight: 400;
	width: 40%;
	text-transform: capitalize;
	margin-left: 30%;
}

.priority-high {
	background: red;
}

.priority-medium {
	background: yellow;
}

.priority-low {
	background: lightgreen;
}

.loading-icon {
	position: relative;
	margin-left: 50%;
	margin-top: 30%;
}
